html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

body{
  height: 100%;
}

main {
  // width: $container;
  // margin-left: auto;
  // margin-right: auto;
}


nav {
  width: 100%;
  background-color: $main-color;
}

aside {
  width: 25%;
  // margin-right: auto;
  // margin-left: auto;
  background-color: $light-grey;
}

section {
  width: 74%;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

label {
  display: block;
}

.container {
  width: $container;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.error{
  color: red;
}