// SPACING
// =======================================================
$container: 90%;
$aside-container: 90%;

// COLORS
// =======================================================
$main-color: #7952e2;
$main-color-light: #9c83e2;
$light-grey: #ebebeb;
$dark-grey: #929292;
$grey-text: #929292;
$red-border: darkred;

// FONTS
// =======================================================
$user-data-font: 2.5rem;
$user-data-subheader: .9rem;
