// SPACING
// =======================================================
$container: 90%;

// COLORS
// =======================================================
$purple: #8233ff;
$light-grey: #ebebeb;
$dark-grey: #c0c0c0;
$grey-text: #929292;
