// SPACING
// =======================================================
$container: 90%;
$aside-container: 90%;

// COLORS
// =======================================================
$main-color: #6334e3;
$light-grey: #ebebeb;
$dark-grey: #c0c0c0;
$grey-text: #929292;
