.add-event-container {
  display: flex;
}

.padding-left {
  padding-left: 5%;
  background-color: $light-grey;
}

.add-event__section {
  background-color: white;
  padding-right: 5%;
}

.add-event__inner-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}