.form {
  display: flex;
  padding-top: 10px;
  padding-right: 20px;
}

.SingleDatePicker,
.SingleDatePicker_1,
.form__element {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  color: $dark-grey;
  background-color: white;
}

.form__select,
.form__input {
  height: 40px;
}

.form__textarea {
  height: 75px;
}

.button__purple {
  background-color: $main-color;
  width: 100%;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  height: 40px;
}

/* DatePicker Styles
=========================================*/

.SingleDatePickerInput__withBorder {
  border: none;
  border-radius: 5px;
}

.DateInput_input__focused {
  border-bottom: none; // color of bottom bar when selected
}

.CalendarDay__selected_span {
  background: rgb(144, 130, 224);
  color: rgb(110, 3, 8);
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover{
  background: $main-color-light;
  color: white;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: $main-color;
  color: white;
  border: 1px solid $main-color;
}

.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  border: 1px solid $dark-grey;
  border-color: 1px solid $dark-grey;
}