.home__container {
  background: url('/images/home_image.jpg');   // this is to the 'public' folder
  height: 570px;
  width: auto;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.home__inner-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.home__text-container {
  display: flex;
  flex-direction: column;
}

.home__text {
  background-color: white;
  font-size: 2.75rem;
  // width: 100%;
  margin-top: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.home__button {
  background-color: $main-color;
  padding: 8px 30px;
  font-size: 1.75rem;
  color: white;
  border: 1px solid $main-color;
  border-radius: 5px;
}