.profile {
  border-top: 85px solid $dark-grey;
  display: flex;
  flex-direction: column;
}

.profile__outer-container {
  background-color: $light-grey;
}

.profile__inner-container {
  display: flex;
}

.profile__user-stats {
  // width: 75%;
  display: flex;
  justify-content: flex-end;
}

.events-header {
  width: $container;
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-header__button {
  background-color: $main-color;
  min-width: 100px;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  height: 40px;
}