.profile {
  border-top: 85px solid $dark-grey;
  display: flex;
  flex-direction: column;
}


.profile__outer-container {
  background-color: $light-grey;
}

.profile__inner-container {
  display: flex;
}

.profile__user-stats {
  // width: 75%;
  display: flex;
  justify-content: flex-end;
}

.events-header {
  width: $container;
  margin: 0 auto;
}