.show-event {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.show-event__inner-container {
  display: flex;
  flex-direction: column;
}

.show-event__image-container {
  margin-right: 30px;
}

.show-event__acc-container {
  margin-bottom: 30px;
}

.show-event__image {
  width: 350px;
  height: auto;
}

.show-event__selected-acceptance {
  border-top: 3px solid $red-border;
  border-bottom: 3px solid $red-border;
}

.show-event__button-group {
  display: flex;
  flex-direction: column;
}

.show-event__button {
  margin-bottom: 15px;
}