.user-stat {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-stat__stat {
  font-size: $user-data-font;
  color: $main-color;
  font-weight: bold;
}

.user-stat__title {
  font-size: .75rem;
  color: $dark-grey;
}