.event-item {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  height: 150px;
  box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.32);
  // overlay settings
  position: relative;                                  
  transition: .5s ease;
}

// overlay settings
.event-item:hover .event-item__left {
  opacity: 0.3;
}

// overlay settings
.event-item:hover .event-item__right {
  opacity: 0.3;
}

// overlay settings
.event-item:hover .hover-container {
  opacity: 1;
  display: inline-block;
}

// overlay settings
.hover-container{
  display: none;                       // gets toggled in component
  position: absolute;                  // positions absolutely w/in parent   
  top: 50%;                            // centers the buttons
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 0;
}

// overlay settings
.hover-buttons {
  display: flex;
}

.edit-button,
.delete-button {
  margin-right: 50px;
  background-color: $purple;
  min-width: 100px;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}

.event-item__left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 500px;
}

.event-item__left img {
  width: auto;
  height: 150px;
}

.event-item__right {
  padding: 10px;
}

.event-item__image {
  object-fit: cover;
}

.event-item__inviter {
  margin-top: 5px;
}

.event-item__title {
  font-weight: bold;
  text-transform: uppercase;
}

.event-item__date_location {
  color: $grey-text;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: .9rem;
}

.event-item__location,
.event-item__date {
  display: flex;
  flex-direction: row;
}

.event-item__description {
  color: $grey-text;
  font-size: .8rem;
}

.fa-calendar,
.fa-map-marker {
  margin-right: 10px;
}